In [5]:
import requests
import pdfplumber

In [6]:
def extract_from_pdf(url):
    response = requests.get(url)
    with open("fs.pdf", "wb") as pdf_file:
        pdf_file.write(response.content)

In [7]:
meralco_pdf = "https://www.grantthornton.global/globalassets/1.-member-firms/global/insights/article-pdfs/ifrs/ifrs-example-financial-statements-2021_2.pdf"
extract_from_pdf(meralco_pdf)

In [8]:
with pdfplumber.open("fs.pdf") as pdf:
    page = pdf.pages[9]
    text = page.extract_text()

In [9]:
for row in text.split('\n'):
    if row.startswith("Current assets"):
        Current_assets = row.split()[:4]

In [10]:
print(Current_assets)

['Current', 'assets', '87,627', '58,668']

In [11]:
label = ' '.join(Current_assets[:2])
label

'Current assets'

In [12]:
value_2021 = Current_assets [-2]
value_2021

'87,627'

In [13]:
value_2020 = Current_assets [-1]
value_2020

'58,668'

In [14]:
import pandas as pd

In [15]:
asset_df = pd.DataFrame(columns=['Accounting_Entry', '2021', '2020'])

In [16]:
asset_df

Empty DataFrame
Columns: [Accounting_Entry, 2021, 2020]
Index: []

In [17]:
asset_df = asset_df.append({'Accounting_Entry':label, '2021': value_2021,'2020':  value_2020}, ignore_index=True)

C:\Users\Romelio Villar Jr\AppData\Local\Temp\ipykernel_10228\54483376.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  asset_df = asset_df.append({'Accounting_Entry':label, '2021': value_2021,'2020':  value_2020}, ignore_index=True)

In [18]:
asset_df

  Accounting_Entry    2021    2020
0   Current assets  87,627  58,668

In [21]:
csv_file_path = "meralco.csv"

In [22]:
asset_df.to_csv(csv_file_path, index=False)

In [23]:
print(f"Data has been exported to {csv_file_path}")

Data has been exported to meralco.csv