In [6]:
#making a dataframe

In [1]:
import pandas as pd

In [2]:
cousins = ({'Name' : ['Aldrin', 'Fiona', 'Rexearl', 'Khai', 'Jaden', 'Sam', 'Yuan', 'David', 'Jehan', 'Briel', 'Jazen'],
                        'Age' : [18, 15, 15, 14, 11, 10, 9, 8, 8, 7,1],
                        'Talent' : ['dancing', 'writing', 'drawing', 'singing', 'karate', 'beauty', 'painting', 'basketball', 'ballet', 'baking', 'eating']})

In [3]:
cousins = pd.DataFrame(cousins)

In [4]:
cousins

       Name  Age      Talent
0    Aldrin   18     dancing
1     Fiona   15     writing
2   Rexearl   15     drawing
3      Khai   14     singing
4     Jaden   11      karate
5       Sam   10      beauty
6      Yuan    9    painting
7     David    8  basketball
8     Jehan    8      ballet
9     Briel    7      baking
10    Jazen    1      eating

In [5]:
cousins.keys()

Index(['Name', 'Age', 'Talent'], dtype='object')

In [6]:
#saving as CSV
filename.to_csv(''.csv)

NameError: name 'filename' is not defined

In [ ]:
cousins.iloc[6, 2]

In [9]:
cousins.mean()

C:\Users\Romelio Villar Jr\AppData\Local\Temp\ipykernel_26660\2768657369.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  cousins.mean()

Age    10.545455
dtype: float64